.THIS .slds-vertical-tabs__nav-item:not(.slds-is-active) { background-color: #eee; }
.THIS .slds-vertical-tabs__nav { width: 20rem; }

.THIS > .slds-vertical-tabs__content > .fixed-header-wrapper--top:not(.cPermissionsOverview_Fields)  > .fixed-header-wrapper--inner > table > thead > tr.slds-text-title_caps:first-child th:not(:first-child) { max-width: 144px; height: 120px; }
.THIS > .slds-vertical-tabs__content > .fixed-header-wrapper--top:not(.cPermissionsOverview_Fields)  > .fixed-header-wrapper--inner > table > thead > tr.slds-text-title_caps:first-child th:not(:first-child) div.border {
          min-width: 270px;
          text-overflow: ellipsis;
          transform: rotate(32deg) translateY(89px) translateX(-180px);
          overflow: hidden;
          text-align: right;
          padding: 30px 30px 30px 87px;
          border-bottom: 1px solid lightgray;
}

.THIS { height: 100%; }

.THIS > .slds-tabs__nav-scroller { height: 100%; overflow: auto; direction: rtl; }
.THIS > .slds-tabs__nav-scroller > .slds-tabs__nav-scroller--inner { direction : ltr; }

.THIS > .slds-vertical-tabs__content { height : 100%; overflow: auto; position:relative }


.THIS > .slds-vertical-tabs__content > .fixed-header-wrapper--top:not(.cPermissionsOverview_Fields) {    height: calc(100% - 132px);
                                                                       overflow-y: scroll;
                                                                       margin-top: 132px;}

.THIS > .slds-vertical-tabs__content > .fixed-header-wrapper--top:not(.cPermissionsOverview_Fields)  > .fixed-header-wrapper--inner > table > thead {    position: absolute;
                                                                                                                       top: 0;
                                                                                                                       margin-right: 30px;}

.THIS > .slds-vertical-tabs__content > .fixed-header-wrapper--top:not(.cPermissionsOverview_Fields)  > .fixed-header-wrapper--inner > table > tbody > tr > td:not(:first-child) { width: 1px; }