/**
 * Created by trakers on 18.07.18.
 */
.THIS li .slds-is-selected{
    background-color:rgb(249, 249, 250);
}

.THIS [role="combobox"] input[readonly]:not(.required):not([disabled]) {
    padding-left: 0.75rem;
    border-color: #dddbda;
    background-color: white;
    font-size: inherit;
    font-weight: 400;
    cursor:pointer;
}
.THIS [role="combobox"] input[readonly].required {
    padding-left: 0.75rem;
    border-color: rgb(194, 57, 52);
    background-color: white;
    font-size: inherit;
    font-weight: 400;
    cursor:pointer;
}

.THIS .slds-listbox_vertical .slds-listbox__option:hover{
   background-color: #f3f2f2;
   text-decoration: none;
}


.THIS .slds-listbox__icon-selected .slds-icon {
    opacity:1;
    fill:rgb(0, 112, 210);
}

.THIS .required{
        float: left;
        padding-right: 2px;
        color: rgb(194, 57, 52);
        font-weight: 700;
}