.THIS .slds-modal__containerCustomStandard{
    padding-top:175px;
    /*margin:0 2rem;*/
    padding:3rem 0;
}

.THIS .slds-modal__containerCustomMobile{
    padding-top:0px !important;
    margin:0 !important;
    padding:0 !important;

}

.THIS.slds-modal-mobile{
    height:94vh !important;
}
.THIS .slds-modal__contentMobile{
    height:100%;
}

.THIS .slds-modal__content.overflow_auto { overflow: auto; }
.THIS .slds-modal__content.overflow_visible { overflow: visible; }