/**
 * Created by rebmangu on 20/02/2018.
 */
.THIS .slds-pill__remove:hover{
    cursor:pointer;
}

.THIS #product-listbox-id{
    width:100%;
}

.THIS input[type="number"]::-webkit-outer-spin-button,
.THIS input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.THIS .mobileInput > .slds-form-element__label {
    display:inline-block !important;
}

.THIS .slds-form-element__control{
        width: 100%;
}

.THIS .slds-checkbox_add-button{
    outline:none;
}

.THIS .slds-table [role=gridcell]:focus{
    box-shadow:none;
}