/**
 * Created by trakers on 24.07.18.
 */


.THIS .slds-form-element_separator.is-read-only {
    display: block;
    margin-right: 1.5rem;
}

.THIS .slds-form-element_separator {
  border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .slds-form-element__static {
    width:calc(100% - 1.5rem);
}

.THIS .inlineEditIcon {
    color: rgb(236, 235, 234);
}

.THIS .hover .inlineEditIcon {
  color: rgb(112, 110, 107);
}

.THIS .inlineEditIcon:hover{
  color: #003595;
}

.THIS .slds-button:not([disabled]):not(.inlineEditIcon) {
  color: #003595;
}

.THIS .slds-form-element,.THIS.slds-form-element {
    padding-right: 1rem;
    padding-left: 1rem;
}