/**
 * Created by rebmangu on 09/04/2018.
 */
.THIS .slds-modal__content{
    height:100% !important;
}
.THIS .fullSize{
        width:100%;
}
.THIS .slds-dropdown-trigger{
    display:block !important;
}

.THIS .slds-button_icon-border-filled.slds-is-selected {
  background-color: #0070d2 !important;
  border-color: #0070d2 !important;
  color: white !important;
}