/**
 * Created by trakers on 19.06.18.
 */
.THIS .slds-table .slds-input {line-height: initial; min-height: initial; padding: 0px 5px;}
.THIS .slds-table tr.row-changed {background-color: antiquewhite;}
/*.THIS .slds-table tr.row-selected td:last-child:after {content : '◀'; position : relative; right: 3px;}*/
/*.THIS .slds-table tr.row-selected td:first-child:before {content : '▶'; position : absolute; left: -3px;}*/

/*.THIS .slds-table tr:not(.row-selected):hover td:last-child:after {content : '◀'; position : relative; right: 3px; color: lightgrey;}*/
/*.THIS .slds-table tr:not(.row-selected):hover td:first-child:before {content : '▶'; position : absolute; left: -3px; color: lightgrey;}*/

.THIS .menu-separator { height: 1px; background-color: lightgrey; }

.THIS .slds-button--icon.slds-button--icon-more span.lightningPrimitiveIcon:last-child {display: none;}

.THIS .quote-line-item-list thead th:first-child { padding:.25rem .5rem }

.THIS .quote-line-item-list tr.row-selected td:first-child { background-color: darkblue;}
.THIS .quote-line-item-list tr:not(.row-selected):hover td:first-child { background-color: lightblue;}

.THIS .quote-line-item-list td.preline {white-space: pre-line;}

.THIS .quote-line-item-list td.no-padding {padding: 0;}
.THIS input[type="number"]::-webkit-outer-spin-button,
.THIS input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.THIS .hide {
    display:none;
}