.THIS .button1{
    border:none;
    background:none;
}

.THIS .button{
    margin-top:7%;
}

.THIS.component1{
    
    width:70%;
    margin-left:10%;
    
}

.THIS .select_Criteria{
    margin-left: 10%;
    width:5%;
}
.THIS .box2{
    width:20%;
}

.THIS .footer{
    width:50%;
    border:0px;
}