/**
 * Created by trakers on 03/04/2018.
 */
.THIS .slds-form-element__control {
    display:block !important;
}
.THIS .googleLogo {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    height: 1rem;
    background-size: contain;
    background-image: url(/projRes/ui-force-components/img/powered_by_google.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.THIS .logoFooter {
    margin-bottom:calc(8 * 2rem);
}

.THIS .list {
        background: rgb(255, 255, 255);
        border: 1px solid rgb(221, 219, 218);
        border-radius: .25rem;
        z-index: 1;
        position: absolute;
        width: 100%;
        margin-top: .25rem;
}

.THIS .list  li {
    min-height:50px;
}

.THIS .slds-modal__content {
    overflow: inherit !important;
    overflow-y: inherit !important;
}
.THIS .optionText {
  font-size: .8125rem;
  font-weight: 400;
  color: rgb(112, 110, 107);
  padding-left: calc(2 * 0.5rem + 2rem);
  display: inline-block;
}

.THIS .optionIcon {
    position: absolute;
    left: .5rem;
}

.THIS .match {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    color: rgb(62, 62, 60);
    font-weight: 700;
}
.THIS .location:hover {
    background-color: rgb(243, 242, 242);
    text-decoration: none;
}

.THIS .location {
   display: block;
   /*padding: .5rem;*/
   color: rgb(62, 62, 60);
}