/**
 * Created by trakers on 22.06.18.
 */


.THIS ul {
    /*background-color:#86baf3;*/
}

.THIS .section{
    background-color:#c2ccd4;
    border: 2px solid white;
}

.THIS .section:hover{
    background-color:rgb(249, 249, 250);
}

.THIS .item-container{
    margin-left:40px;
    border: 2px solid white;
    background-color:white;
}

.THIS .item{
    margin:4px;
    background-color:#86baf3;
}

.THIS .ui-state-highlight {
    opacity: .5;
    background-color:#fffbdf;
}