.THIS .icon-switcher .on {			display:none;	}
.THIS .icon-switcher:hover .on {	display:block;	}
.THIS .icon-switcher .off {			display:block;	}
.THIS .icon-switcher:hover .off {	display:none;	}

.THIS .slds-timeline__item_expandable:before {	left: 1.625rem; }

.THIS .slds-timeline__color_purple:before {		background: #7f8de1; }
.THIS .slds-timeline__color_yellow:before {		background: #f2cf5b; }
.THIS .slds-timeline__color_darkblue:before {	background: #54698f; }
.THIS .slds-timeline__color_blue:before {		background: #3c97dd; }
.THIS .slds-timeline__color_lightblue:before {	background: #62b7ed; }
.THIS .slds-timeline__color_orange:before {		background: #fcb95b; }

.THIS .extraFields {
    /*display: initial;
    vertical-align: bottom;
    margin-left: 10px;*/
}