<!--
 - Created by rebmangu on 07/05/2018.
 -->

<apex:page standardController="Case" id="CaseInvoiceTable">
    <apex:includeLightning />

    <div id="lightning" />

    <script>
        $Lightning.use("c:InvoiceTableApp", function() {
          $Lightning.createComponent("c:InvoiceTable",
          { recordId:'{!$CurrentPage.parameters.id}'},
          "lightning",
          function(cmp) {
            // do some stuff
          });
        });
    </script>
</apex:page>