<apex:page >
  <form name="cfgForm" action="https://dormakabademo.configair.com/DormaKabaCPQUi/configuration/openConfiguration.do" method="POST">
    <!--<input type="hidden" name="profileName" value="IGS_SOLUTION2D" />-->
    <input type="hidden" name="configurationGuid" value="b37db604-7213-47e7-9316-ad69503698ee" />
    <button value="submit">Submit</button>
  </form>
</apex:page>