<apex:page controller="PrintCallReport" renderAs="PDF" applyBodyTag="false">

    <head>
    <style type="text/css" media="print">
    
    @page {
        @top-center {
            content: element(header);
        }
        @bottom-left {
            content: element(footer);
        }
    }
    div.header {
        padding: 10px;
        position: running(header);
    }
    div.footer {
        display: block;
        padding: 5px;
        position: running(footer);
    }
    .pagenumber:before {
        content: counter(page);
    }
    .pagecount:before {
        content: counter(pages);
    } 
    
    .logo {
        position: absolute;
        right: 0;
        top: 0;
    }
    .dormakaba {
        font-family: Arial Unicode MS;
        color: #003594;
    } 
    .line {
        border:solid #003594 0.2px;
        height:0.2px
    }
    .label {
        font-family: Arial Unicode MS;
        font-size: 14pt;
        color: #003594;
    }
    .text {
        font-family: Arial Unicode MS;
        font-size: 10pt;
        color: #484848;    
    }
    
    </style>
    </head>
    <div class="header">
        <div class="logo">
            <apex:image url="{!$Resource.dormakaba_logo}" width="230" height="44"/> 
        </div>
        <br />
        <br />
        <hr class="line"/>
    </div>
    
    <body>
    <div class="content">
    <apex:form >
        <apex:pageBlock >
            <div class="dormakaba">
                <h1>{!$Label.Visit_Report}</h1>
            </div>
         
            <h2 class="label">{!$ObjectType.Event.fields.Subject.label}:</h2>
            <p class="text"><apex:outputText value="{!event.Subject}"/></p>
            <h2 class="label">{!$Label.Created_by}:</h2>
            <p class="text"><apex:outputText value="{!event.owner.name}"/></p>
            <h2 class="label">{!$ObjectType.Event.fields.Description.label}:</h2>
            <p class="text"><apex:outputText value="{!event.Description}"/></p>
            <h2 class="label">{!$ObjectType.Account.label}:</h2>
            <p class="text"><apex:outputText value="{!event.Account.Name}"/></p>
            <p class="text"><span style="color: #808080;"><apex:outputText value="{!event.Account.BillingStreet}"/><br />
                             <apex:outputText value="{!event.Account.BillingCity}"/><br />
                             <apex:outputText value="{!event.Account.BillingPostalCode}"/></span></p>
            <h2 class="label">{!$Label.Date}:</h2>
            <p class="text">
                <apex:outputText value="{!localeDate}"/>
            <!--><apex:outputText value="{0, date, MMMM d','  yyyy}">
                <apex:param value="{!event.ActivityDate}" />
            </apex:outputText> <-->
            </p>
            <h2 class="label">{!$ObjectType.Event.fields.Location.label}:</h2>
            <p class="text"><apex:outputText value="{!event.Location}"/></p>           
            <p></p>
            <h2 class="label">{!$Label.Attendees}:</h2>
            <p>
                <span style="color: #808080;">
                <apex:dataList value="{!invitee}" var="con">
                    <p class="text">
                		<apex:outputText value="{!con.Name}"/>
                    </p>
                </apex:dataList>
                </span>
            </p>
            
            
            <div class="footer">
                <hr class="line"/>
                <p></p>
                <p class="text">{!Now()} - {!$User.FirstName} {!$User.LastName}</p>
            </div>
        </apex:pageBlock>
    </apex:form>
    </div>
    </body>

</apex:page>