/**
 * Created by rebmangu on 06/02/2018.
 */
.THIS.displayClass {
    display: block;
}

.THIS .uploadIcon{
    margin-right:4px;
}

.THIS #drop-mask {
    position:absolute;
    width:100%;
    height:100%;
    z-index:99;
    display:none;
    margin:-2px;
}

.THIS .hasError {
    outline: 0;
    border-color: #b30432;
    box-shadow: 0 0 3px #8b2340;
    box-shadow: 0 0 3px #8b2340;
    border-style: solid;
}
.THIS #drop-layer{
  position:absolute;
  display:none;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:5;
}
.THIS.slds-file-selector__dropzone:not(.slds-has-drag-over){
    border:none;
}
.THIS.slds-file-selector__dropzone.slds-has-drag-over{
    
}