.THIS table {
    border: 0px solid black;
    padding: 10px;
}
.THIS th {
    border: 0px solid black;
    padding: 10px;
}
.THIS  td {
    border: 0px solid black;
    padding: 10px;
}
.THIS table{
    border-spacing: 35px;
}
.THIS gogreen{
    background-color:white;
}
.THIS .slds-truncate {
    color:black;
}