/**
 * Created by rebmangu on 20/04/2018.
 */
.THIS .slds-form-element__control {
    /*display:block !important;*/
}

.THIS .slds-icon_container {
    background-color:transparent;
}

.THIS .list {
        background: rgb(255, 255, 255);
        border: 1px solid rgb(221, 219, 218);
        border-radius: .25rem;
        z-index: 1;
        position: absolute;
        width: 100%;
        margin-top: .25rem;
}

.THIS .list  li {
    min-height:50px;
}

.THIS .slds-modal__content {
    overflow: inherit !important;
    overflow-y: inherit !important;
}
.THIS .optionText {
  font-size: .8125rem;
  font-weight: 400;
  color: rgb(112, 110, 107);
  padding-left: calc(2 * 0.5rem + 2rem);
  display: inline-block;
}

.THIS .optionIcon {
    position: relative;
    left: .5rem;
}

.THIS .match {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    color: rgb(62, 62, 60);
    font-weight: 700;
}
.THIS ul > li:hover{
    background-color:rgb(243, 242, 242);
}

.THIS .slds-icon-custom-custom85 .slds-icon{
    fill:#4890c8;
}