.THIS .slds-form-element__label {
    display:none;
}
.THIS .search-input {
    border:none;
    background-color:transparent;
    outline:none;
}
.THIS .slds-button {
    width: 100%; 
    border: none;
}
.THIS .outline-class {
    outline: 0;
    border-color: rgb(21, 137, 238); /* This is the blue color of the border */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #0070d2;
}