/**
 * Created by rebmangu on 25/04/2018.
 */
.THIS .uiInput--lookup.lookup__menu {
        background:rgb(255, 255, 255);
        border: 1px solid rgb(221, 219, 218);
        border-radius:.25rem;
        z-index: 3;
}

.THIS  .listContent {
        clear: both;
        position: relative;
}
.THIS .lookup__item > a{
    display:inherit;
    text-decoration: none;
}

.THIS .lookup__item > a:hover{
        background-color: rgb(243, 242, 242);
        text-decoration: none;
}

.THIS .searchButton:hover{
    background-color: rgb(243, 242, 242);
}



.THIS strong {
      background-color: transparent;
      font-weight: 700;
      color:rgb(112, 110, 107);
}

.THIS .primaryLabel {
    color:black;
}

.THIS a {
    color:black;
}

.THIS .hide {
    display:none;
}


/***** DISPLAY RESULT ****/

.THIS .uiPill--default.pill{
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 4px;
        display: block;
        white-space: nowrap;
}

.THIS .uiPill--default .pillIcon {
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
}

.THIS .uiPillContainer--default a {
          text-decoration: none;
          cursor: default;
}

.THIS .uiPillContainer--default{
        padding: 5px 5px 5px 5px;
        margin: 0;
        line-height: 26px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        position: relative;
}

.THIS .uiPillContainer--default a:hover {
          text-decoration: none;
}

.THIS .uiPill--default:hover {
      background-color: #eeeeee;
}

.THIS .uiPill--default .deleteIcon {
      padding-left: 8px;
      color: #888888;
}

.THIS .uiPill--default .deleteIcon:after {
      content: "\2715";
}

.THIS .pillText {
      max-width: none;
      width: calc(100% - 55px);
}

.THIS .pillText {
  color: rgb(62, 62, 60);
}

.THIS .uiPill--default .pillText {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
}
.THIS .deleteIconLink:hover{
    color:rgb(0, 95, 178);
}

/***** Edit mode ********/

.THIS .slds-form-element_separator.is-read-only {
    display: block;
    margin-right: 1.5rem;
}

.THIS .slds-form-element_separator {
  border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .slds-form-element__static {
    width:calc(100% - 1.5rem);
}

.THIS .inlineEditIcon {
    color: rgb(236, 235, 234);
}

.THIS .hover .inlineEditIcon {
  color: rgb(112, 110, 107);
}

.THIS .inlineEditIcon:hover{
  color: #003595;
}

.THIS .slds-button:not([disabled]):not(.inlineEditIcon) {
  color: #003595;
}