/*.THIS.slds-input-group .slds-form-element { border: 0; }
.THIS.slds-input-group .slds-form-element:first-child .slds-input, .THIS.slds-input-group .slds-form-element:first-child .slds-select { border-radius: .25rem  0 0 .25rem; }
.THIS.slds-input-group .slds-form-element:last-child .slds-input, .THIS.slds-input-group .slds-form-element:last-child .slds-select { border-radius: 0 .25rem .25rem 0; }
*/

.THIS .input-grow-100 .slds-form-element__label { display : none; }

/*
.THIS.slds-input-group .search-value, .THIS.slds-input-group .search-value .slds-grow { width: 100%; }
.THIS.slds-input-group .search-picklist .slds-grow { width : 175px; }

.THIS { display: flex; }*/

.THIS .input-grow-100 .slds-grow { width: 100%; }
.THIS.inline { display: table; margin: auto; }