.THIS tr.slds-text-title_caps th:not(:first-child) { max-width: 50px; height: 120px; }
.THIS tr.slds-text-title_caps th:not(:first-child) div {
          min-width: 228px;
          text-overflow: ellipsis;
          transform: rotate(32deg) translateY(100px) translateX(-180px);
          overflow: hidden;
          text-align: right;
          padding: 5px 5px 5px 30px;
          border-bottom: 1px solid lightgray;
      }

.THIS.fixed-header-wrapper--top {    height: calc(100% - 105px);
                                   overflow-y: scroll;
                                   margin-top: 105px;}

.THIS.fixed-header-wrapper--top > .fixed-header-wrapper--inner > table > thead {    position: absolute;
                                                                                  top: 0;
                                                                                  margin-right: 30px;}

.THIS.fixed-header-wrapper--top  > .fixed-header-wrapper--inner > table > tbody > tr > td:not(:first-child) { width: 1px; }