.THIS .slds-radio_button [type=radio]:checked+.slds-radio_button__label svg { fill: white; }
.THIS>.slds-tabs--default__content {padding: 16px;}
.THIS:not(.uiMessage) { height: 100%; }
.THIS.uiMessage + .THIS.slds-tabs--scoped { height : calc(100% - 40px); }

.THIS > div.slds-tabs--scoped__content { height: calc(100% - 40px); overflow: auto; position: relative; }

.THIS button:disabled { opacity: .5; }