.THIS { width: 100%;}

.THIS.slds-button_neutral, .THIS.slds-button--neutral, .THIS.slds-button_brand, .THIS.slds-button--brand {padding: 0; }
.THIS.slds-button_stateful.show-vertical span img { display: block; }
.THIS.show-vertical span img { margin: auto; }

.THIS.slds-button_brand[disabled], .THIS.slds-button--brand[disabled] { background: rgb(63, 63, 63); color: rgb(127, 127, 127); }

.THIS.size-medium img {height: 64px; width: 64px; }

.THIS.size-small img {height: 32px; width: 32px; }