/**
 * Created by trakers on 22.06.18.
 */
.THIS .section{
    background-color:#c2ccd4;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/*.THIS .section:hover{
    background-color:inherit;
    opacity:0.8;
}*/

.THIS .item-container{
    margin-left:40px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color:white;
}

.THIS .item{
    margin:4px 0px 4px 4px;
    background-color:#c2ccd4;
}

.THIS .ui-state-highlight {
    opacity: .5;
    background-color:#fffbdf;
}

.THIS .slds-listbox__option:hover{
    background-color:inherit;
}

.THIS .slds-is-selected{
    border:2px solid #0070d2;
}

.THIS .ui-sortable-helper .item-container{
    display:none;
}

.THIS .ui-sortable-helper .item-container{
    display:none;
}

.THIS .section.ui-sortable-helper {
    height:auto !important;
}

.THIS .item-container{
    min-height:50px;
}

.THIS .sectionInformationContainer{
    position:fixed;
    width:inherit;
}

.THIS .slds-modal__content{
    min-height:400px;
}