/**
 * Created by trakers on 03/04/2018.
 */
.THIS .slds-modal__content{
    height:100% !important;
}
.THIS .fullSize{
        width:100%;
}
.THIS .slds-dropdown-trigger{
    display:block !important;
}
.THIS .slds-button--icon-border-filled.slds-is-selected {
  background-color: #0070d2 !important;
  border-color: #0070d2 !important;
  color: white !important;
}

.THIS .step1{
    display:none;
}

.THIS .step2{
    display:none;
}

.THIS .step3{
    display:none;
}

.THIS .stepMaster_1 .step1{
    display:inline-flex;
    width:100%;
}

.THIS .stepMaster_2 .step2{
     display:inline-flex;
     width:100%;
}

.THIS .stepMaster_3 .step3{
     display:inline-flex;
     width:100%;
}

.THIS .slds-gutters--small .slds-col{
    padding-right:0.25rem;
    padding-left:0.25rem;
}

.THIS .footerLeft{
    float:left;
}

.THIS .required{
    border-right: red;
    border-right-width: 2.5px;
    border-right-style: inset;
}

.THIS .valid{
    border-right: green;
    border-right-width: 2.5px;
    border-right-style: inset;
}

.THIS.addressBuildingGroup > button {
    width:33% !important;
}

.THIS footer .lightningProgressIndicator{
    width:70%;
    margin-top:7px;
    float:left;
}

.THIS footer .button1{
    width:10%;
    margin-right:5%;
}

.THIS footer .button2{
    width:10%;
    margin-left:5%;
}

.THIS .boldText{
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
}