/**
 * Created by trakers on 15.05.18.
 */
.THIS .mainTab{
    padding:0px !important;
    margin-top:1rem;
    min-height:80%;
}
.THIS #quoteLineItemsTable tr:not(.quoteSection) td{
    height:52px;
}
.THIS .slds-button:not([disabled]):not(.inlineEditIcon):not(.slds-button_brand){
    color:#003595;
}
.THIS .slds-button_brand:not([disabled]),.THIS .slds-button--brand:not([disabled]){
        background-color: #003595;
        border-color: #003595;
        color:white;
}
.THIS .quoteSection .slds-button:not([disabled]){
    background-color:white;
}

.THIS .slds-icon-standard-quotes{
    background-color:#003595;
}

.THIS .slds-card__body{			border-top: 1px solid lightgray;	}
.THIS .topPanel {
    padding-top:2rem;
}
.THIS .row{
    background-color:rgb(255, 255, 255);
}
.THIS .slds-table tr.row-changed {
    background-color: antiquewhite;
}
.THIS .slds-table tr.row-changed td {
    background-color: antiquewhite;
}
.THIS .slds-table tr.row-changed:hover td {
    background-color: antiquewhite;
}
.THIS input[type="number"]::-webkit-outer-spin-button,
.THIS input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.THIS .slds-table_fixed-layout {
  table-layout: fixed !important;
  width: 100%;
  white-space: nowrap;
}


.THIS .menuIcons .slds-icon-text-default{
    fill:rgb(107, 109, 112) !important;
}

.THIS .menuIcons a {
    color: rgb(107, 109, 112) !important;
}
.THIS .table-fullWidth{
    width:100% !important;
}


.THIS .slds-table_fixed-layout tbody{
    transform : none !important;
    -webkit-transform : none !important;
}

/* Scrollable (start) */
.THIS .slds-table .left{
    margin-top: 3px;
    margin-left: 10px;
    float: left;
}
.THIS .slds-table .scrollableLeftBorder{
    border-left:1px solid rgb(217, 219, 221);
}
.THIS .slds-table .right{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}
.THIS .slds-table .scrollableRightBorder{
    border-right:1px solid rgb(217, 219, 221);
}

/* Scrollable (end) */
.THIS .ui-sortable-helper {
    display: table;
    /*background-color:inherit;*/
}
.THIS .ui-state-highlight {
    opacity: .5;
}

.THIS.mainContainer {
    height:100%;
}
.THIS.hide{
    display:none;
}

.THIS .handle{
     padding: 0 5px;
     cursor: move;
     font-size: 1.5em;
 }

.THIS .expand{
    padding: 0 5px;
    /*font-size: 1.5em;*/
}

.THIS.mainTab > .slds-tabs_scoped__content ~.slds-tabs_scoped__content {
       padding:0rem !important;
       width:100% !important;
       overflow: visible;
       height: 100%;
}



.THIS .tt > .tail {
        border: 2px gray solid;
        border-right: 0;
        border-top: 0;
        position: absolute;
        border-radius: 2px;
        bottom: 11px;
        left: -10px;
        z-index: 0;
}

.THIS .hierarchyTable td {
    border:0px;
}

.THIS .borderTop{
    border-top:1px solid rgb(107, 109, 112)!important;
}
.THIS .borderBottom{
    border-bottom:1px solid rgb(107, 109, 112)!important;
}
.THIS .borderLeft{
    border-left:1px solid rgb(107, 109, 112)!important;
}
.THIS .borderRight{
    border-right:1px solid rgb(107, 109, 112)!important;
}

.THIS .hierarchyTable td {
    box-shadow:none !important;
    background-color: transparent !important;
}

/*.THIS .productOption td {
     box-shadow:none !important;
     background-color: transparent !important;
}*/
.THIS .white{
    color:white !important;
}

.THIS .optionColor {
    box-shadow:none !important;
    background-color: rgb(233, 234, 236) !important;
}

.THIS .fullLine {
    border-top:2px solid #dddbda;
    margin-top:20px;
}

.THIS .detailContainer {
    background-color:rgb(250, 250, 249) !important;
    min-height:100vh;
}
.THIS .nopadding{
    padding:0px;
}


.THIS .addProductReplacement{
    background-color:#54698d !important;

}
.THIS .addProductReplacement:hover{
    background-color:#54698d !important;
}


.THIS .reducedTable{
    width:29% !important;
    overflow:scroll;
    float:left;
}

.THIS .slds-has-focus,.THIS .slds-has-focus td{
    box-shadow:none !important;
    background-color:rgb(233, 234, 236) !important;
   /*opacity:0.7;*/
}

.THIS .qty{
    width:60%;
    float:left;
}




/* Tab Settings */

.THIS .slds-dueling-list__options .slds-is-selected{
    background-color: rgb(0, 112, 210);
    color: rgb(255, 255, 255);
}



.THIS .slds-dueling-list__options [aria-selected=false]{
    color:rgb(107, 109, 112);
}
.THIS .slds-dueling-list__options .slds-is-selected {

    background-color: rgb(0, 112, 210);
    color: rgb(255, 255, 255);
}

.THIS .slds-dueling-list__options .slds-is-selected .slds-icon{
    fill:rgb(255, 255, 255) !important;
}

.THIS .slds-listbox__option{
    border-radius:2px;
}

.THIS .dropTabSettings{
    min-height:200px;
}

.THIS .tabSettings_placeholder{
    height:36px;
    background-color:rgb(0, 112, 210);
}

.THIS .disableDragEvent{
    pointer-events:none;
}


.THIS #editLayout_left{
    min-height:450px;
}

.THIS #editLayout_right{
    min-height:100px;
}

.THIS .editMode{
    background-color:rgb(249, 249, 250);
    cursor:move;
    margin-top:3px;
}

.THIS .availableFields .editMode{
    margin:3px;
    width:98%;
}


/* POPOVER */

.THIS .slds-custom-popover {
    margin-left: 0px !important;
    margin-top: 0px !important;
    left: 35px;
    top: -12px;
    position: absolute !important;
}
/*
.THIS .detailContainer ul:not(.dropdown__list), .THIS .detailContainer ul .slds-form-element,.THIS .detailContainer ul .slds-combobox__form-element {
    position:inherit;
}

.THIS .position-inherit{
    position:inherit;
}
*/

/** SECTIONS **/
.THIS .slds-section__title{
    background-color:rgb(249, 249, 250) !important;
}
.THIS .slds-box_link:hover,.THIS .slds-box_link:focus{
    border : 1px solid rgb(21, 137, 238) !important;
    box-shadow: none !important;
}
.THIS .slds-has-focus:hover td:not(.quoteSection){

    box-shadow:none !important;
    border-top:none;
    /*opacity:0.7;*/
}

.THIS .sectionContainer div{
    margin: 1rem 0;
}

.THIS .quoteSection{
    background-color: inherit;
    text-align:center;
    border-top : none !important;
    border-left: inherit;
    font-weight:bold;
}
.THIS .quoteSectionBorder{
    border-left: inherit;
    padding:15px;
}

.THIS .quoteSection .slds-icon-text-default{
    fill:white;
}
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover>.quoteSection{
    background-color:inherit;
    border-top:none;
    box-shadow:none;
}

/** FIXED TABLE **/

.THIS#appContainer{
    top: 0px;
    bottom: 0px;
    position: absolute;
    overflow: auto;
    width:100%;
}

.THIS .cFileHandler:not(.fixedTable) {
    width:100% !important;
}

.THIS .cFileHandler.fixedTable {
    width:inherit !important;
}

.THIS .cFileHandler.fixedTable.includeHeader #scrollableContainer {
    position:fixed;
    top:0;
    left:10px;
    width:calc(33% - 6px) !important;
    overflow-y: scroll !important;
    padding-bottom: 156px;
}

.THIS .cFileHandler.fixedTable:not(.includeHeader) #scrollableContainer {
    position:fixed;
    top:0;
    left:0;
    width:calc(33% - 2px) !important;
    overflow-y: scroll !important;
    padding-bottom: 156px;
}

.THIS .slds-tabs_scoped__content {
    padding: 0px;
}


.THIS .slds-form-element_separator.is-read-only {
    display: block;
    margin-right: 1.5rem;
}

.THIS .slds-form-element_separator {
  border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .slds-form-element__static {
    width:calc(100% - 1.5rem);
}

.THIS .inlineEditIcon {
    color: rgb(236, 235, 234);
}

.THIS .hover .inlineEditIcon {
  color: rgb(112, 110, 107);
}

.THIS .inlineEditIcon:hover{
  color: #003595;
}

.THIS .slds-button:not([disabled]):not(.inlineEditIcon):not(.slds-button_brand) {
  color: #003595;
}

/*** CHECKBOX OUTPUT **/
.THIS .uiOutputCheckbox img.unchecked {
    background: transparent url(/auraFW/resources/aura/images/smallcheck.png) no-repeat;
    height: 17px;
    width: 17px;
}


.THIS .footerDetail{
    height:60px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 10px;
}