/**
 * Created by rebmangu on 04/04/2018.
 */
.THIS .list {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    z-index: 1;
    width: 100%;
    margin-top: .25rem;
    height:100%;
}

.THIS .list  li {
    border:1px solid rgb(221, 219, 218);
    height:5vh;
    min-height:40px;
}

.THIS .slds-modal__content {
    overflow: inherit !important;
    overflow-y: hidden !important;
}
.THIS .optionText {
  font-size: .8125rem;
  font-weight: 400;
  color: rgb(112, 110, 107);
  padding-left: calc(2 * 0.5rem + 2rem);
  display: inline-block;
}

.THIS .optionIcon {
       position: relative;
       left: .5rem;
       top: -1rem;
}

.THIS .match {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    color: rgb(62, 62, 60);
    font-weight: 700;
}
.THIS .list li:not(.selected):hover {
    background-color: rgb(243, 242, 242);
    text-decoration: none;
}

.THIS .location {
   display: block;
   /*padding-top: 0.3rem;*/
   color: rgb(62, 62, 60);
}

.THIS .selected {
    background-color:rgb(164, 205, 232);
}

.THIS .buttonGroupClass{
    position:relative;
    float:right;
}