/**
 * Created by trakers on 10.07.18.
 */
.THIS .modal-container{
    height:500px;
}

.THIS .project-menu{

}

.THIS .icon-bar {
    background-color:#f3f2f2;
}

.THIS .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 36px;
    position : relative;
    border: 1px solid #dddbda;
}

.THIS .icon-bar a:not(.active) .slds-icon{
    fill: #003595;
}

.THIS .icon-bar a.active .slds-icon{
    fill: rgb(255, 255, 255);
}

.THIS .icon-bar a:not(.active):hover {
    background-color: #dddbda;
}

.THIS .active {
    background-color: #003595;
}

.THIS .slds-badge{
    color: white;
    background-color:#c23934;
}

.THIS .fullSize {
  width: 100%;
}

.THIS .slds-padding {
    padding:1rem;
}

/***********************/
.THIS .lookup__list {
  max-height: none;
}


.THIS .list {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    z-index: 1;
    width: 100%;
}

.THIS .list  li {
    min-height:50px;
}

.THIS .optionText {
  font-size: .8125rem;
  font-weight: 400;
  color: rgb(112, 110, 107);
  padding-left: calc(3.2rem);
  display: inline-block;
}

.THIS .uiInput--lookup .lookup__item>a {
    height: auto;
}

.THIS .lookup__item>a, .THIS .lookup__item>span {
    display: block;
    padding: .5rem;
    color: rgb(62, 62, 60);
}

.THIS .lookup__item > a:hover, .THIS .lookup__item>span:hover {
    background-color: rgb(243, 242, 242);
    text-decoration: none;
}

.THIS .option {
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
}

.THIS .optionIcon {
  position: absolute;
  left: 0.5rem;
  margin-top: calc(-1rem);
  top: 38%;
}

.THIS .distance {
    position:absolute;
    bottom:15%;
}

.THIS .slds-is-selected {
    background-color:#003595 !important;
    border-color: #003595 !important;
    color : rgb(255, 255, 255);
}

.THIS .slds-is-selected .slds-icon{
    fill:rgb(255, 255, 255);
}

.THIS .project-mode:hover {
     background-color: #dddbda;
     border-color: #dddbda;
 }

 .THIS .project-mode:hover .slds-icon{
     fill:rgb(255, 255, 255);
 }

 .THIS .full-projects{
     height:45vh;
 }

 .THIS .project-text{
     color:red;
     font-size:1em !important;
     text-align:left;
     margin-top:4px;
     width:80%;
 }

 /****** EDIT MODE ******/
 .THIS .slds-form-element_separator.is-read-only {
     display: block;
     margin-right: 1.5rem;
 }

 .THIS .slds-form-element_separator {
   border-bottom: 1px solid rgb(221, 219, 218);
 }

 .THIS .slds-form-element__static {
     width:calc(100% - 1.5rem);
 }

 .THIS .inlineEditIcon {
     color: rgb(236, 235, 234);
 }

 .THIS .hover .inlineEditIcon {
   color: rgb(112, 110, 107);
 }

 .THIS .inlineEditIcon:hover{
   color: #003595;
 }