.THIS .slds-card__body  { margin : 0; }
.THIS .slds-vertical-tabs { border-width: 1px 0 0 0; }

/*.THIS span.slds-icon_container.slds-p-right--small { padding-right : 0; margin-right: .75rem; }
.THIS span.slds-icon_container.slds-p-right--x-small { padding-right : 0; margin-right: .75rem; }*/

.THIS span.slds-icon_container { line-height: 1; }

.THIS ul { direction : rtl; }
.THIS li { direction : ltr; text-align : left; }