.THIS .sales-arrangement{ width: 80px; }
.THIS .partner-function { width: 180px; }
.THIS .two-letter-code { width: 30px; }

.THIS .filters-section { border: 1px solid lightgray; border-radius : 5px; position: relative; background-color: rgb(243, 242, 242); }

.THIS .filters-section:before {
    width: 1rem;
    height: 1rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    right: 10px;
    top: -.5rem;
    margin-left: -.5rem;
    background-color: inherit;
    border: inherit;
    border-width: 1px 0 0 1px;
 }