.THIS h2 { font-weight: 700; }
.THIS td.label-hidden .slds-form-element__label { display:none; }
.THIS td.label-hidden { padding: .25rem .5rem !important; }

.THIS .cSLDS_Lookup .uiPillContainer--default { padding: 0; border: 0; }

.THIS .table-line-wrap tbody td:not(:last-child) {text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word; }